.sound span{
	padding-left: 15px;
}
.red{
	color:red!important;
}
.fa-download{
	cursor: pointer!important;
}
.fa-trash{
	cursor: pointer!important;
}
#productviewtable tr td:nth-child(1){
	width: 30%!important;
}
#productviewtable tr td:nth-child(2){
	width: 10%!important;	
}
#productviewtable tr td:nth-child(3){
	width: 60%!important;
}
#importPostForm label{
	text-align: right;
}
.m_r5{
	margin-right: 5px!important;
}
.m_r20{
	margin-right: 20px;
}
.m_r10{
	margin-right: 10px!important;
}
.black{
	color: #000;
}
a.black{
	text-decoration: none;
}
a.black:hover{
	color: #000;
}
.m_t30{
	margin-top: 30px!important;
}
.m_t10{
	margin-top: 10px!important;
}
.m_t20{
	margin-top: 20px!important;
}
.greenProduct{
	color:green!important;
}
.redProduct{
	color:red!important;
}
span.required{
	color: red!important;
}